<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkerDB" connectionString="Data Source=DESKTOP-IA05O5S\SQLEXPRESS;Initial Catalog=WorkerDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>